<div>
    <ul class="nav nav-tabs nav-bar-dark bg-success text-bg-primary " id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Blogs
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- Parent Dropdown Item -->
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Category 1</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/blogs/category1/sub1">Subcategory 1</a></li>
              <li><a class="dropdown-item" href="/blogs/category1/sub2">Subcategory 2</a></li>
            </ul>
          </li>
          <li><a class="dropdown-item" href="/blogs/category2">Category 2</a></li>
          <li><a class="dropdown-item" href="/blogs/category3">Category 3</a></li>
        </ul>
      </li>
      
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/production">Production</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">contact</a>
        </li> 
        
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </ul>
          </div>
   </div>